<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anthony's Water Level Page</title>

    <style>
      body {background-color: whitesmoke;}
      h1   {color: blue;}
      p    {color: red;}
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Weather reports</h1>

        <form class="ui form" action="/uisubmit" method="post">
          <div class="field">
              <!-- <label>Station Codes</label>
              <input type="text" name="stationcode" placeholder="Enter Station Code..."><br> -->
              <select name="list_station">
                {% for station in station_list %}
                <option value="{{station.station_code}}">{{station.station_description}}</option>
                {% endfor %}
              </select>
          </div>
          <button class="ui blue button" type="submit">Submit</button>
        </form>

        <!-- <div>
          <select name="list_station">
            {% for station in station_list %}
            <option value="{{station.station_code}}">{{station.station_description}}</option>
            {% endfor %}
          </select>
        </div> -->

        <hr>

        <br>
        
        {{current_station.station_code }} - {{ current_station.station_description }}
        <br>
        <br>
        Water Level Readings
        <table>
            <tr>
            </tr>
            <tr>
                <td>Min level Reading All Time</td>
                <td>{{ water_stats.min_water_level_observed_date_alltime }}</td>
                <td>{{ water_stats.min_water_level_alltime }}{{ water_stats.min_water_level_units_alltime }}</td>
            </tr>
            <tr>
                <td>Min level Reading Last 10 Days</td>
                <td>{{ water_stats.min_water_level_observed_date_10day }}</td>
                <td>{{ water_stats.min_water_level_10day }}{{ water_stats.min_water_level_units_10day }}</td>
            </tr>
            <tr>
                <td>Current Reading</td>
                <td>{{ water_stats.current_water_level_observed_date }}</td>
                <td>{{ water_stats.current_water_level }}{{ water_stats.current_water_level_units }}</td>
            </tr>
            <tr>
                <td>Max level Reading Last 10 Days</td>
                <td>{{ water_stats.max_water_level_observed_date_10day }}</td>
                <td>{{ water_stats.max_water_level_10day }}{{ water_stats.max_water_level_units_10day }}</td>
            </tr>
            <tr>
                <td>Max level Reading All Time</td>
                <td>{{ water_stats.max_water_level_observed_date_alltime }}</td>
                <td>{{ water_stats.max_water_level_alltime }}{{ water_stats.max_water_level_units_alltime }}</td>
            </tr>
        </table>
        <br>
        <br>

        Water Flow Readings
        <table>
            <tr>
            </tr>
            <tr>
                <td>Min Flow Reading All Time</td>
                <td>{{ water_stats.min_water_flow_observed_date_alltime }}</td>
                <td>{{ water_stats.min_water_flow_alltime }}{{ water_stats.min_water_flow_units_alltime }}</td>
            </tr>
            <tr>
                <td>Min Flow Reading 10 Days</td>
                <td>{{ water_stats.min_water_flow_observed_date_10day }}</td>
                <td>{{ water_stats.min_water_flow_10day }}{{ water_stats.min_water_flow_units_10day }}</td>
            </tr>
            <tr>
                <td>Current Reading</td>
                <td>{{ water_stats.current_water_level_observed_date }}</td>
                <td>{{ water_stats.current_water_flow }}{{ water_stats.current_water_flow_units }}</td>
            </tr>
            <tr>
                <td>Max Flow Reading 10 Days</td>
                <td>{{ water_stats.max_water_flow_observed_date_10day }}</td>
                <td>{{ water_stats.max_water_flow_10day }}{{ water_stats.max_water_flow_units_10day }}</td>
            </tr>
            <tr>
                <td>Max Flow Reading All Time</td>
                <td>{{ water_stats.max_water_flow_observed_date_alltime }}</td>
                <td>{{ water_stats.max_water_flow_alltime }}{{ water_stats.max_water_flow_units_alltime }}</td>
            </tr>
        </table>

        <!-- <table>
            <tr>
              <th>Station Code</th>
              <th>Observed Date</th>
              <th>Water Level</th>
              <th>Water Flow</th>
            </tr>
            {% for level in level_list %}
            <tr>
              <td>{{level.station_code }}</td>
              <td>{{ level.observed_date }}</td>
              <td>{{ level.water_level }}</td>
              <td>{{ level.water_flow }}</td>
            </tr>
            {% endfor %}
          </table> -->

    </div>
</body>

</html>